@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*  *************************   Nav bar       ********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Georgia", serif;
    background: linear-gradient(
    to right, #fff2b0, #ffd1dc, #ffc1e3,#d75bd74d
  );
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
.navbar {
    width: 100%;
    /* height: 70px; */
    background-color: #ff7b7b; 
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    scrollbar-color: auto;
    /* padding-left:20px; */
   
    
  /* position: fixed; */
  top: 0;
  /* left: 0; */
  width: 100%;
  


    
}
.links {
    list-style: none;
    display: flex;
     font-weight: bold;
      
    gap: 70px;
    font-family: "Georgia", serif;
    
}
.links li {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
    /* cursor: pointer; */
}


@media (max-width: 1024px) {

  .links {
    flex-direction: column;  
    gap: 20px;
  }
}



/*   *************    Page *******************************************/


.container {
    display: flex;
    width: 100%;
    height: 100vh;
    
}


.content{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10% 8%;
}

.text{
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 55px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #1a1a1a;
    margin-bottom: 40px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 40px;
    text-align: justify;
}

button {
    background-color: #FF7E7E; 
     font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #ff6464;
}


.image-side {
    flex: 1;
    background-image: url('img4.jpg'); 
    background-size: cover;
   
    background-position: center;
    padding-right:200px ;

}

@media (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    
    .content {
        order: 1;
        padding: 50px 25px;
    }

    
    .image-side {
        order: 2;
        min-height: 280px;
         height: 220px;
        width: 90%;
        /* background-size: cover; */
        background-position: center;
        padding-right: 0;
        max-width: 480px;
    height: 220px;
    }
}

/**   ***************   below page       ********************   */



.logo {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;          
  padding: 60px 0;
}


.layout {
  display: grid;
  grid-template-columns: 280px 280px;   
  grid-template-rows: 290px 250px;
  gap: 20px;
  flex: 1.2;
}

.layout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}


.img2 {
  grid-column: 2;
  grid-row: 1 / span 2;
}


.text-box {
  flex: 1;
  background-color: #ff7e7e;
  padding: 50px 35px;
  color: #000;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  height: 300px;
   font-family: 'Montserrat', sans-serif;
font-weight: 800;
}

.text-box span {
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.text-box h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 3px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.text-box .click {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.text-box .click img {
  width: 25px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {

  .logo {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

  .layout {
    display: flex;              
    flex-direction: column;
    align-items: center;        
    width: 90%;
  }

  .layout img {
    width: 100%;
    max-width: 480px;
    height: 220px;
  }

  .img2 {
    grid-column: auto;
    grid-row: auto;
  }

  .text-box {
    width: 90%;
    max-width: 420px;
    padding: 35px 25px;
    height: 220px;
    /* height: auto; */
   
  }

  .text-box h2 {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .text-box span {
    font-size: 12px;
  }
}
